body{
       background-color: beige;
       font-size: 48px;
       color: azure (212, 0, 0);
       text-align: center;
       font-family: 'Cinzel'; serif;
}

p{

font-size: 25px;
color: ghostwhite;

}

#bramStroker{
color: rgb(212,0,0);




}